<?xml version="1.0" encoding="utf-8"?>
<Content Key="8aa88365-4221-4886-a491-0e968a95b93f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-03-25T22:54:59</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-gb">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="e112e44c-337b-40ca-befb-a824ed69328b">Home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-gb"><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>